.header {
    padding: 60px;
    text-align: center;
    background: #A0C3D2;
    color: white;
    font-size: 15px;
}

body {
    background: #C7C8CC;
}

.query_results
{
    text-align: center;
    background: white
}

input[type=text]
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 3px;
    width: 75%
}