<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/about.css">
    <link rel="icon"  href="SRR_Logo.png">
    <meta charset="UTF-8">
    <title>Same Rhythm Radar</title>
</head>
<body>

    <div class="header">
        <h1>
            <b>Same Rhythm Radar</b>
        </h1>
        <br/>
    </div>

    <div class="about_us">
        <p> Same Rhythm Radar is an advanced music recommendation system that utilizes a large language model dependent on a wide dataset of various
            songs to produce precise results from user requests.<br><br>
            The Team:<br>
            Brian Seeley, Software, Systems, and Networks<br>
            Berkley Sitterson, Software Engineering<br>
            Jainesh Lad, Data Science<br>
            Shoaib Fazal, Software, Systems, and Networks<br>
            Hamilton Sheppard, A.I., Robotics, and Gaming</p>

    </div>

</body>
</html>