{% extends 'base.html' %}
{% block title %}About Page{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card shadow">
                    <div class="card-body">
                        <p class="card-text fs-4 text-center">
                            SameRhythmRadar is a full-stack application designed to provide users with personalized song recommendations based on their queries. In today's digital age, music streaming 
                            platforms offer vast libraries of songs, making it challenging for users to discover new music tailored to their preferences. Same Rhythm Radar aims to address 
                            this problem by leveraging artificial intelligence to analyze user queries and suggest relevant songs, thus enhancing the overall music discovery experience.
                        </p>
                        <p class="card-text fs-5 text-center">
                            <strong>The Team</strong><br>
                            Brian Seeley, Software, Systems, and Networks<br>
                            Berkley Sitterson, Software Engineering<br>
                            Jainesh Lad, Data Science<br>
                            Shoaib Fazal, Software, Systems, and Networks<br>
                            Hamilton Sheppard, A.I., Robotics, and Gaming
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
