<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/account.css">
    <link rel="icon" href="SRR_Logo.png">
    <meta charset="UTF-8">
    <title>Same Rhythm Radar</title>
</head>

<body>

    <div class="header">
        <h1>
            <b>Same Rhythm Radar</b>
        </h1>
        <br />
    </div>

    <div class="account_page">
        <div class="column details">
            <div class="username"> {{ username }} </div>
            <div class="options">
                <button type="username">Change Username</button><br>
                <button type="password">Change Password</button><br>
                <button type="history">Clear Search History</button>
            </div>
        </div>
        <div class="column frequent">
            <div class="section">Frequent Tags</div>
            <div class="tags"></div>
            <br /><br /><br /><br />
            <br /><br />
            <br /><br /><br /><br />
            <br /><br /><br /><br />
            <br /><br />
        </div>
    </div>

</body>

</html>