{% extends 'base.html' %}
{% block title %}Account{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1>Welcome, {{ username }}!</h1>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#changeUsernameModal">Change Username</button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-danger me-3" data-bs-toggle="modal" data-bs-target="#changePasswordModal">Change Password</button>
        </div>
        <div class="col-auto">
            <form id="clearHistoryForm" action="{% url 'clear_search_history' username=username %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Clear Search History</button>
            </form>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 text-center">
            <h2 class="mb-3">Frequent Tags</h2>
            <div class="tags">Tag 1, Tag 2, Tag 3</div>
        </div>
    </div>
</div>

<!-- Change Username Modal -->
<div class="modal fade" id="changeUsernameModal" tabindex="-1" aria-labelledby="changeUsernameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeUsernameModalLabel">Change Username</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-body">
                <form id="changeUsernameForm" action="{% url 'change_username' username=username %}" method="POST">
                    {% csrf_token %}
                    <input type="text" class="form-control mb-3" placeholder="Enter New Username" id="newUsername" name="new_username">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" id="changeUsernameBtn">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Change Password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="changePasswordForm" action="{% url 'change_password' username=username %}" method="POST">
                    {% csrf_token %}
                    <input type="text" class="form-control mb-3" placeholder="Enter New Password" id="newPassword" name="new_password">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" id="changePasswordBtn">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
