<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/mainpage.css">
    <link rel="icon"  href="SRR_Logo.png">
    <meta charset="UTF-8">
    <title>Same Rhythm Radar</title>
</head>
<body>

    <div class="header">
        <h1>
            <b>Welcome, {{ username }}!</b> <!-- Passing in username value from login form -->
        </h1>
        <br/>
    </div>

    <div class="query_results">
        <br/><br/>

        <p> Query Results: </p>

        <br/><br/><br/><br/>
        <br/><br/>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
        <br/><br/>

    </div>

    <div id="query_bar">
        <br/><br/><br/><br/>
        <br/>
        <input type="text" id="query_search" name="query_search" placeholder="Enter your search prompt!"></input>
    </div>

</body>
</html>