<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/library.css">
    <link rel="icon" href="SRR_Logo.png">
    <meta charset="UTF-8">
    <title>Same Rhythm Radar</title>
</head>

<body>

    <div class="header">
        <h1>
            <b>My Library</b>
        </h1>
        <br />
    </div>

    <div class="tabs">
        <div class="playlist">Playlists <button> -> </button></div><br>
        <div class="artist">Artists <button> -> </button></div><br>
        <div class="album">Albums <button> -> </button></div><br>
        <div class="songs">Songs <button> -> </button></div>
    </div><br>
    <div class="recent">Recently Added
        <div class="added">
            <br /><br /><br /><br />
            <br /><br />
            <br /><br />
        </div>
    </div>

</body>

</html>