.header {
    padding: 30px;
    text-align: center;
    background: #A0C3D2;
    color: white;
    font-size: 30px;
}

body {
    background: #C7C8CC;
}

.tabs
{
    text-align: center;
    width: 20%;
    border: 5px solid black;
    background: white;
    font-size: 20px;
}

.recent {
    text-align: center;
    font-size: 20px;
}

.added {
    text-align: center;
    border: 5px solid black;
    background: white;
    font-size: 20px;
}

button {
    vertical-align: middle;
}